version: "3.8"

services:
  service_challenge_marathon:
    build: .
    container_name: service_challenge_marathon
    networks:
        - ai_network
    restart: unless-stopped
    env_file: 
      - .env
    volumes:
      - ./logs:/app/logs
      - ./ssl/ca.crt:/app/ssl/ca.crt:ro
    environment:
      - DJANGO_SETTINGS_MODULE=service_challenge_marathon.settings
    ports:
      - "8010:8010"

  # redis:
  #   image: redis
  #   container_name: redis_marathon
  #   networks:
  #     network:
  #       ipv4_address: 172.24.0.16
  #   restart: unless-stopped


    
networks:
  ai_network:
    external: true
